.header{
    background-image: url('images/bg-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.txtHead p:nth-child(1){
    font-family:'Times New Roman', Times, serif
}
.navbar-brand{
    font-family: Brush Script MT;
}
.btn:hover{
    background-color: rgb(218, 157, 14) !important;
}
.ico{
    width: 150px;
    height: 150px;
    margin-left: 28%;
}
.ico .fa-solid{
    font-size: 50px;
}
.portfo{
    background-color: rgb(238, 238, 238);
}

.plus{
    height: 66.7%;
    opacity: 0;
}
.plus:hover{
    opacity: 1;
    display: flex !important;
    justify-content: center;
    background-color: rgba(243, 212, 8, 0.693) !important;
    transition:ease-in-out 0.35s;
}

.team img{
    width: 150px;
    height: 150px;
}
.fa-brands{
    width: 40px;
    height: 40px;
    padding-top: 11px;
    cursor: pointer;
}
.design{
    margin-top: -15px;
}
.about{
    background-color: rgb(237, 237, 237);
    margin-top: 150px;
    
}
.contact{
    background-image: url('images/cartMonde.jpg');
}
input::placeholder{
    font-weight: 600;
}
label{
    font-weight: 600;
}
.navbar {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header-scrolled {
    background-color: rgba(0, 0, 0, 0.603);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: rgb(255, 145, 0);
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 49px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
}
.timeline > li .timeline-image {
    z-index: 100;
    width: 100px;
    height: 100px;
    border: 7px solid #e9ecef;
}

.timeline > li .timeline-panel {
    padding: 0 20px 0 125px; 
}

.timeline > li:after {
    clear: both;
}
.timeline > li {
    min-height: 50px;
    margin-bottom: 50px;
}

li .t-body{
    width: 150% !important;
    margin-left: -40px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 0 50px;
}
.timeline {
    list-style: none;
}

@media screen and (max-width: 1025) {
   
}

@media screen and (max-width:821px)  {
    .navbar{
        background-color: rgba(34, 34, 34, 0.893);
    }
    .ico{
        width: 150px;
        height: 150px;
        margin-left: 15%;
    }
    .plus{
        height: 67.5%;
        opacity: 0;
    }
}
@media screen and (max-width:415px)  {
    .ico{
        width: 150px;
        height: 150px;
        margin-left: 29%;
    }
    .RowCard{
        margin-left: 2px;
    }
    .plus{
        height: 68.4%;
        opacity: 0;
    }
    .aboutText{
        margin-right: 50px !important;
        margin-left: 7px !important;
    }
    .svgLogo{
        text-align: center;
    }
    .micros, .google, .faceb{
        margin-bottom: 18px;
    }
    .team1, .team2{
        margin-bottom: 17px;
    }
    .textAriat{
        margin-top: 20px;
    }
    
    .timeline > li {
        position: relative;
        min-height: 50px;
        margin-bottom: 50px;
    }
    .timeline-inverted .timeline-panel {
        width: 50px;
    }
    li .t-body{
        height: 200px;
        margin-left: 0px !important;
        text-align: left;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        
        margin-right: -10px;
        width: 78%;
    }
    .timeline-heading_1{
        text-align: left;
    }
}

@media (max-width: 1380px){
    li .t-body{
        width: 100% !important;
        margin-left: 0px;
    }
}
@media (min-width: 768px){
    .timeline > li .timeline-image {
        left: 50%;
        width: 150px;
        height: 150px;
        margin-left: -70px;
    }
    .timeline > li .timeline-panel {
        width: 41%;
        padding: 0 20px 0 50px;
    }
    .timeline:before {
        left: 50%;
    }
}


















 